.pt-media-embeed-button {
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: inline-block;
  background-image: url("http://www.mediavida.com/style/img/plus.gif");
  background-position: 2px 2px;
  background-repeat: no-repeat;
}
.pt-media-embeed-button.less {
  background-image: url("http://www.mediavida.com/style/img/less.gif");
}
